.medication-main {
	margin: 150px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 85%;
}

.notify {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e05822;
}
